*.iml
.gradle
/local.properties
/.idea
/.vscode
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Temp & Non-mobile files
be-recognition
be-recognition/
be-recognition.zip
check_supabase.js
download_font.py
payload.json
.env
log*.txt
log.txt
*.log
DESIGN.md
preview*.png
.agents/
TestLate.class
TestLate.java
openapi.json
out.txt
